# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
*.egg
*.db

# Node
node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Alembic
backend/alembic/__pycache__/
